<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artes marciales HOSHI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style type="text/css">
    body {
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(253,70,29,1) 50%, rgba(198,140,58,1) 100%);
    
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home">HOSHI</a>
    </nav>
    <div>
    <h1 class="display-4">Sitio en construcción</h1>
    <p class="lead">Artes marciales HOSHI: sitio de aprendizaje y diversión.</p>
    <hr class="my-4">
    <p>Para mas información contactanos:</p>
    <li><a href="https://www.instagram.com/karate_laestrella/">@karate_laestrella</a></li>
    <l1> tel: 321 6130027</l1>
    </div>
</body>
</html>