<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artes marciales HOSHI</title>
    <style type="text/css">
    body {
        color: white;
        background: rgb(0,0,0);
        background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(253,70,29,1) 50%, rgba(198,140,58,1) 100%);
    }
    </style>
</head>
<body>
    <h1 >Bienvenido a Artes Marciales Hoshi </h1>
    <h3>Sitio en contruccion</h3>
    <h4>Para mas informacion:</h4>
    <h5>@karate_laestrella</h5>
    <h5>Tel:3216130027</h5>
</body>
</html>